<%- include('../../../partials/head.ejs'); %>
	<body>
		<%- include('../../../partials/header-menu/header-cadastro.ejs'); %>
	
		<section class="unidade container-fluid dataBox">
			<h1 class="titulo"><%= equipment.equipment %> - Componentes</h1>
			<hr>
			<div class="row justify-content-md-center">
				<div class="table-responsive col-md-8">
					<a href="/cadastro/site/archive/<%= siteId %>/equipment"><button type="button" class="btn btn-secondary mb-2"><i class="bi bi-arrow-left"></i> Voltar</button></a>
					<table class="table table-striped table-bordered" cellspacing="0" cellpadding="0">
						<thead>
							<tr>
								<th>Component</th>
								<th>Component Type</th>
								<th class="actions">Ações</th>
							</tr>
						</thead>
						<tbody>
							<% component.forEach(el=>{ %>
								<tr>
									<th scope="row"><%= el.component %></th>
									<td><%= el.componentType %></td>
									<td>
										<a href="/cadastro/site/<%= el.siteId %>/equipment/<%= el.equipmentType %>/<%= el.equipmentId %>/component/<%= el.id %>/" class="btn btn-primary btn-xs">Visualizar</a>
									</td>
								</tr>
							<% }) %>
						</tbody>
					</table>
				<div>
			</div>
		</section>
	
	</body>
	
	<script>
		function confirmarRestore(event, form){
			event.preventDefault();
			var decision = confirm("Deseja restaurar o equipamento?");
			if(decision){
				window.alert("Equipamento restaurado!")
				form.submit();
			}else{
				console.log("Foi um acidente");
			}
		}
	</script>
<%- include('../../../partials/footer.ejs'); %>