<div class="dados-dm">
	<%- include('./damage-mechanism/thinning.ejs');%>
	<%- include('./damage-mechanism/lining.ejs');%>
	<%- include('./damage-mechanism/scc-caustic.ejs');%>
	<%- include('./damage-mechanism/scc-amine.ejs');%>
	<%- include('./damage-mechanism/scc-sulfide.ejs');%>
	<%- include('./damage-mechanism/hic-sohic-h2s.ejs');%>
	<%- include('./damage-mechanism/acscc.ejs');%>
	<%- include('./damage-mechanism/pascc.ejs');%>
	<%- include('./damage-mechanism/scc-chloride.ejs');%>
	<%- include('./damage-mechanism/hsc-hf.ejs');%>
	<%- include('./damage-mechanism/hic-sohic-hf.ejs');%>
	<%- include('./damage-mechanism/external-ferritic.ejs');%>
	<%- include('./damage-mechanism/cui-ferritic.ejs');%>
	<%- include('./damage-mechanism/extclscc-austenitic.ejs');%>
	<%- include('./damage-mechanism/cui-extclscc-austenitic.ejs');%>
	<%- include('./damage-mechanism/htha.ejs');%>
	<%- include('./damage-mechanism/brittle-fracture.ejs');%>
	<%- include('./damage-mechanism/low-alloy-embrittlement.ejs');%>
	<%- include('./damage-mechanism/885-embrittlement.ejs');%>
	<%- include('./damage-mechanism/sigma-phase-embrittlement.ejs');%>
	<%- include('./damage-mechanism/piping-mechanical-fatigue.ejs');%>
</div>